*{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    background: #E7EEF2;
  }
  
  .container{
    display: flex;
    
  }
    form{
        position: absolute;
        width: 638px;
        height: 349px;
        left: 450px;
        top: 177px;
        background-color: rgb(51, 72, 93);
    }
    img{
        position: absolute;
        left: 122px;
        top: 25px;
        width: 387px;
        height: 148px;
    }
    
         
      #title {
        text-align: center;
      }
    
      .formulario__input {
        background: #FFFFFF;
        border: 2px solid ;
        line-height: 25px;
        padding: 0 40px 0 30px;
        transition: .3s ease all;
        position: absolute;
        width: 400px;
        height: 33px;
        left: 84px;
        top: 145px;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
      }
    
      .formulario__input:focus {
        border: 3px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
      }
    
      .formulario__input-error {
        font-size: 11px;
        margin-bottom: 0;
        display: none;
      }
    
      .formulario__input-error-activo {
        display: block;
      }
    
      .formulario__validacion-estado {
        position: absolute;
        right: 15px;
        bottom: 7px;
        z-index: 100;
        font-size: 16px;
        opacity: 0;
      }
    
      .formulario__mensaje {
        height: 40px;
        line-height: 40px;
        background: #13c9c9;
        margin-left: 60px;
        padding: 0px 10px;
        border-radius: 3px;
        display: none;
        width: 1053px;
      }
    
      .formulario__mensaje-activo {
        display: block;
      }
    
      .formulario__mensaje p {
        margin: 0;
      }
    
      .formulario__grupo-btn-enviar {
        display: block;
      }
    
      .formulario__btn1 {
        background: #5CAE8C;
        color: #fff;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: .1s ease all;
        margin-left: 10px;
        margin-top: 10px;
        position: absolute;
        width: 146px;
        height: 41px;
        left: 119px;
        top: 225px;
      }

      .formulario__btn2 {
        background: #5CAE8C;
        color: #fff;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: .1s ease all;
        margin-left: 10px;
        margin-top: 10px;
        position: absolute;
        width: 146px;
        height: 41px;
        left: 365px;
        top: 225px;
      }
    
      .formulario__btn:hover {
        box-shadow: 3px 0px 30px rgba(163,163,163, 1);
      }
    
      .formulario__mensaje-exito {
        font-size: 14px;
        color: #119200;
        display: none;
      }
    
      .formulario__mensaje-exito-activo {
        display: block;
      }
    
      /* ----- -----  Estilos para Validacion ----- ----- */
      .formulario__grupo-correcto .formulario__validacion-estado {
        color: #1ed12d;
        opacity: 1;
      }
    
    
      .formulario__grupo-incorrecto .formulario__validacion-estado {
        color:  #13c9c9;
        opacity: 1;
      }
    
      .formulario__grupo-incorrecto .formulario__input {
        border: 3px solid #13c9c9;
      }
    
    
      .footer {
        margin-left: 705px;
        margin-top: 685px;
        font-weight: bold;
      }
    
      /*responsive*/
    
      .flex-container {
        display: flex;
        flex-direction: row;
      }
    
      /* Responsive layout - makes a one column layout instead of a two-column layout */
      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }
