* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: #E7EEF2;
}

.container {
    display: flex;
    position: relative;
    width: 1440px;
    height: 1024px;
}

form {
    display: flex;
    position: absolute;
    width: 638px;
    height: 349px;
    left: 450px;
    top: 177px;
    background-color: rgb(51, 72, 93);
}

img {
    position: absolute;
    left: 122px;
    top: 25px;
    width: 387px;
    height: 148px;
}

.formulario__input {
    box-sizing: border-box;
    background: #FFFFFF;
    color: #000000;
    border: 2px solid;
    padding: 0 40px 0 30px;
    transition: 0.3s ease all;
    position: absolute;
    width: 400px;
    height: 33px;
    left: 116px;
    top: 180px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.formulario__btn1 {
    position: absolute;
    background: #5CAE8C;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    border: none;
    transition: 0.1s ease all;
    width: 146px;
    height: 41px;
    left: 140px;
    top: 250px;
}

.formulario__btn2 {
    position: absolute;
    background: #5CAE8C;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    border: none;
    transition: 0.1s ease all;
    width: 146px;
    height: 41px;
    left: 340px;
    top: 250px;
}

.formulario__btn1:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.formulario__btn2:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.footer {
    margin-left: 705px;
    margin-top: 685px;
    font-weight: bold;
}

/*responsive*/
@media screen and (max-width: 600px) {
    form {
      max-width: 300px;
      padding: 10px;
    }
    label, input {
      font-size: 14px;
    }
    button {
      font-size: 16px;
      padding: 12px;
    }
  }

