* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: rgba(210, 238, 226, 1);
}

label {
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.menu, .PensamientoCritico, .Creatividad, .Colaboración, .Comunicación {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
    padding: 1%;
}

.PensamientoCritico li, .Creatividad li, .Colaboración li, .Comunicación li {
    display: flex;
    align-items: center;
}

.Lista1, .Lista2, .Lista3, .Lista4 {
    display: flex;
    flex-wrap: wrap;
}

.Lista1 li, .Lista2 li, .Lista3 li, .Lista4 li {
    display: flex;
    align-items: center;
}

input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
    appearance: auto;
    border-radius: 50%;
    padding: initial;
    border: initial;
}

p {
    font-size: 12px;
    font-weight: bold;
}

input[type="checkbox"] + p {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input[type="checkbox"]:hover + p, input[type="checkbox"]:focus + p {
    opacity: 1;
}

.formulario__btn {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background: #5CAE8C;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    transition: 0.1s ease all;
    border-radius: 5px;
    border: none;
    width: 14%;
    height: 40px;
    margin-left: 50%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

.formulario__btn:hover {
    cursor: pointer;
    box-shadow: 3px 0 30px #102132;
}


.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: rgb(51, 72, 93);
    color: #fff;
    font-size: 1em;
}

